/* Creat four columns */
/* box-sizing :border-box ???*/
body{
  margin: 0;
  min-width: 300px;
}

.header {
  background-color: #003C71;
  height: 60px;
}
.header .container .logo{
  color: white;
  float: left;
  cursor: pointer;
}
.header .container{
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  position: relative;
}
.header .container .navHeader{
  list-style: none;
  float: left;
  line-height: 28px;
}
.header .container .navHeader li{
  font-size: 16px;
  padding: 10px;
  display: inline;
  position:relative;
}
.header .container .navHeader li a{
  color: white;
  text-decoration: none;
  padding: 7px 10px;
  border-radius: 5px;
}
.header .container .navHeader li a:hover{
  border: 1px solid white;
  transition: .5s;
}

.header .container .navHeader .subMenu{
  display: none;
  position: absolute;
  top: 40px;
  left: -40px;
  width: 200px;
  background-color: #003C71;
}
.header .container .navHeader .subMenu li{
  display: block;
}
.header .container .navHeader li:hover>.subMenu{
  display: block;
}

.header .container .userControl{
  float: right;
  display: flex;
  line-height: 50px;
  margin: 5px;
  margin-right: 100px;
}
.header .container .userControl a{
  text-decoration: none;
  margin-right: 10px;
  color: white;
  
}
.header .container #btnMenu{
 color: white;
 display: none;
}
.header .container #btnMenu:hover{
  cursor: pointer;
  border: 1px solid white;
  transition: .5s;
  border-radius: 5px;
  width: 40px;
  font-size: 30px;
  text-align: center;
}
@media(max-width:1000px){
  .header .container .navHeader{
      display: none;
  }
  .header .container .navHeader.responsive{
      position: absolute;
      top:43px;
      left: 0px;
      display: block;
      background-color: #003C71;
      width: 100%;
      overflow: hidden;
  }
  .header .container #btnMenu{
      display: block;
  }
  .header .container .navHeader li{
      display: block;
      text-align: center;
      border-bottom: 1px solid white
  }
}
.tourHomeHeader{
  height: 492px;
  background-image: url("/public/img/moc-chau2.png");
  padding: 50px 0px;
}
.tourHomeHeader .container {
  width: 750px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.tourHomeHeader .container .title{
  color: white;
}
.tourHomeHeader .container .searchForm{
  padding: 15px;
  background: rgba(0,0,0,0.3);
  text-align: center;
}
.tourHomeHeader .container .searchForm input{
  outline: #e0e0e0;
  border: 1px solid#e0e0e0;
  border-radius: 5px;
  padding: 16px;
  margin: 5px;
  font-size: 16px;
  height: 60px;
}
.tourHomeHeader .container .searchForm .btnSearch{
  background: #f79321;
}


/* 
Profile */
 .header .container .userControl .dropdown .dropbtn {
  background-color:#003C71;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 60px;
    height: 40px;
 }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #003C71;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}



/*Content*/
*{
    box-sizing: border-box;
  }
.col_1 {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
    
}

.Content {
  margin-left: 12%;
  margin-right: 12%;
}

/* clear float */
.Content_1 {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    text-align: center;
    min-width: 100px;
}
/* Responsive layout - make two column */
@media screen and (max-width: 900px) {
  .col_1 {
    width: 50%;
    margin-bottom: 20px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col_1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card_1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    /* background-color: #f1f1f1; */
   
    /* background-image: url('/image/1.jpg');
    background-size: cover; */
    width: 100%;
    height: 350px;
 
  }
  .card_2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    /* background-color: #f1f1f1; */
   
    /* background-image: url('/image/tichcuc.png');
    
    background-size: cover; */
    width: 100%;
    height: 350px;
 
  }
  .card_3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    /* background-color: #f1f1f1; */
   
    /* background-image: url('/image/hop_qua.png');
    
    background-size: cover; */
    width: 100%;
    height: 350px;
 
  }
  .card_4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    /* background-color: #f1f1f1; */
   
    /* background-image: url('/image/hop_qua.png');
    background-size: cover; */
    width: 100%;
    height: 350px;
 
  }

  .Content .title {
   font-size: 35px;
   color: black;
   font-weight: bold;
  }
  .Content .detail {
    font-size: 18px;
    color: #333;
  }
  .Content_1 .Infor {
    color: white;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
    margin-top: 220px;
  }
  .Content_1 .description {
    color: white;
    font-size: 16px;
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
  }
  
  .area{
    width: 100%;
    height: 800px;
  }
  .area .row_1 {
    width: 100%;
    height: 23.8%;
    display: flex;
    flex-direction: row;
  }
  .area .row_1 .area_1 {
    height: 100%;
    width: 45%;
    /* background-image: url('/image/phuquoc-755x190.jpg'); */
  }
  .area .row_1 .area_2 {
    height: 100%;
    width: 26.5%;
    /* background-image: url('/image/quynhon_2-370x190.jpg'); */
    margin-left: 1%;
  }
  .area .row_1 .area_3{
    height: 100%;
    width: 26.5%;
    /* background-image: url('/image/sa-pa-370x190.jfif'); */
    margin-left: 1%;
  }
    
  .area .row_2 {
   
    width: 100%;
    height: 42%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  .area .row_2 .area_4{
    width: 37%;
    height: 100%;
    /* background-image: url('/image/Da Nang.jpg'); */
  }
  .area .row_2 .area_5 {
    width: 62%;
    height: 100%;
    /* background-image: url('/image/da lat.jpg'); */
    margin-left: 1%;
  }
  .area .row_3 {
   
    width: 100%;
    height: 24%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }

  .area .row_3 .area_6 {
    height: 100%;
    width: 30%;
    /* background-image: url('/image/vungtau_2-370x395.jpg'); */
  }
  .area .row_3 .area_7 {
    height: 100%;
    width: 34%;
    /* background-image: url('/image/Nha trang.jpg'); */
    margin-left: 1%;
  }

  .area .row_3 .area_8 {
    height: 100%;
    width: 34%;
    /* background-image: url('/image/moc-chau2.png'); */
    margin-left: 1%;
  }

  .Content_3 .area .name {
    color: white;
    font-size: 35px;
    padding-left: 10px;
  }
  .Content_4 .area .name {
    color: white;
    font-size: 35px;
    padding-left: 10px;
  }
  