/* Header */
body{
  margin: 0;
  min-width: 300px;
}

.header {
  background-color: #003C71;
  height: 60px;
}
.header .container .logo{
  color: white;
  float: left;
  cursor: pointer;
}
.header .container{
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  position: relative;
}
.header .container .navHeader{
  list-style: none;
  float: left;
  line-height: 28px;
}
.header .container .navHeader li{
  font-size: 16px;
  padding: 10px;
  display: inline;
  position:relative;
}
.header .container .navHeader li a{
  color: white;
  text-decoration: none;
  padding: 7px 10px;
  border-radius: 5px;
}
.header .container .navHeader li a:hover{
  border: 1px solid white;
  transition: .5s;
}

.header .container .navHeader .subMenu{
  display: none;
  position: absolute;
  top: 40px;
  left: -40px;
  width: 200px;
  background-color: #003C71;
}
.header .container .navHeader .subMenu li{
  display: block;
}
.header .container .navHeader li:hover>.subMenu{
  display: block;
}

.header .container .userControl{
  float: right;
  display: flex;
  line-height: 50px;
  margin: 5px;
}
.header .container .userControl a{
  text-decoration: none;
  margin-right: 10px;
  color: white;
  
}
.header .container #btnMenu{
 color: white;
 display: none;
}
.header .container #btnMenu:hover{
  cursor: pointer;
  border: 1px solid white;
  transition: .5s;
  border-radius: 5px;
  width: 40px;
  font-size: 30px;
  text-align: center;
}
@media(max-width:1000px){
  .header .container .navHeader{
      display: none;
  }
  .header .container .navHeader.responsive{
      position: absolute;
      top:43px;
      left: 0px;
      display: block;
      background-color: #003C71;
      width: 100%;
      overflow: hidden;
  }
  .header .container #btnMenu{
      display: block;
  }
  .header .container .navHeader li{
      display: block;
      text-align: center;
      border-bottom: 1px solid white
  }
}
.tourHomeHeader{
  height: 492px;
  background-image: url("/image/moc-chau2.png");
  padding: 50px 0px;
}
.tourHomeHeader .container {
  width: 750px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.tourHomeHeader .container .title{
  color: white;
}
.tourHomeHeader .container .searchForm{
  padding: 15px;
  background: rgba(0,0,0,0.3);
  text-align: center;
}
.tourHomeHeader .container .searchForm input{
  outline: #e0e0e0;
  border: 1px solid#e0e0e0;
  border-radius: 5px;
  padding: 16px;
  margin: 5px;
  font-size: 16px;
  height: 60px;
}
.tourHomeHeader .container .searchForm .btnSearch{
  background: #f79321;
}


/* Container */
.container {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right:5%;
    margin-top: 5%;
}
.container .left {
    width: 25%;
    border: solid 1px #f8be82;
    padding: 5%;
}
.container .right {
    width: 65%;
    margin-left: 5%;
}


/* left */
.container  .title {
    font-weight: bold;
    color: blue;
}
.container .left .Khachsantuongtu {
  color: blue;
  font-weight: bold;
}
.container .left .hotel_item {
  display: flex;
  flex-direction: row;
}
.container .left .hotel_item .hotel_image {
  background-image: url('/image/khu-nghi-duong-furama-da-nang-60x45.jfif');
  width: 65px;
  height: 50px;
  margin-top: 10%;
}
.container .left .hotel_item .hotel_infor {
  margin-left: 5%;
  color: #F79321;
}

/* right */
.container .right .hotel_booking_header {
    display: flex;
    flex-direction: row;
}
.container .right .hotel_booking_header .title_price{
  margin-left:30%

}
.container .right .hotel_booking_header .title_price .price {
  color: blue;
}
.container .right .submit {
    margin-left: 10%;
    width: 130px;
    height: 35px;
    border-radius: 5px;

    background: #F79321;
    border: 1px solid #F79321;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    
}
  /* slideshow */
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .slideshow {
    position: relative;
    margin-top: 5%;
  }
  
  /* Hide the images by default */
  .mySlide {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  /* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } */
  
  /* Container for image text */
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  /* right detail */
  .right .detail {
    display: flex;
    flex-direction: row;
    background-color: #feeec5;
    margin-top: 5%;
  }
  .right .detail .detail_left {
    width: 65%;
  }
  .right .detail .detail_right {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 2%;
    border: 1px solid #fde29d;  
    height: 300px;
  }
  .right .detail .detail_right .khoihanh {
    display: flex;
    flex-direction: row;
  }
  .right .detail .detail_right .khoihanh .price {
    color: #f59233;
    font-weight: bold;
    padding-left: 25px;
  }