
.register_btn {
    color:red;
    background-color: blue;
    height: 50px;
}
div .text_register {
    text-align: center;
    
}
.form{
    height: 500px;
    width: 400px;
    border: 1px solid black;
}
.form .By {
    text-align: center;
}
/* .form .By .image_fb {
    width: 20px;
    height: 20px;
    background: url(../image/fb.png) no-repeat center;
    background-size: 20px;
    background-color: #003C71;
    color: blue;
} */
.form .input_infor {
    margin-left: 20%;
}
.form .input_infor h6{
    color: #818180;
    font-size: 14px;
}
.form .input_infor input { 
    padding : 5px 10px;
    width: 50%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;

}
.form .agree {
    margin-top: 5%;
    margin-left: 20%;
}
.form .agree  span a {
    color: #2574A9;

}
.form .By button {
    border: 1px solid rgba(71,89,147,0.5);
    border-radius: 5px;
    width: 30%;
    height: 40px;
    padding: 5px;
}
.form .By .facebook_btn {
    background-color: #475993;
    font-weight: 500;
    cursor: pointer;
}
.form .By .google_btn {
    background-color: #F34A38;
    font-weight: 500;
    cursor: pointer;
}
.form .By a {
    color: white;
}
.form .submit {
    text-align: center;
}
.form .submit_btn {
    width: 30%;
    height: 10%;
    color: #003C71;
    font-weight:800;
    margin-top: 3%;
    margin-left: 20%;
    border-radius: 5% ;
    padding: 5px;
}
.form .submit_btn:hover {
    color: #26bed6 !important;
    cursor: pointer;
    border: 1px solid #26bed6 !important;
}