body{
    background-color: #ecf0f5;
    font-family: sans-serif;
    color: #494b55;
}
.content{
    padding-left: 10%;
    padding-right: 10%;
}
.content .container{
    background-color: white;
    padding: 10px;
}
.content .contentHeader{
    background-color: #ecf0f5 !important;
    padding-bottom: 5px;

}
.content .contentHeader ol{
    list-style: none;
    padding-left: 0px;
}
.content .contentHeader ol li{
    display: inline;
}
.content .contentHeader ol>li+li:before {
    content: "/ ";
}

.content .pageTitle{
    padding: 10px 0px 20px 0px;
    color: #003c71;
    font-weight: bold;
    font-size: 36px;
    background-color: #ecf0f5;
}

.content .container .bookingForm{
    display: block;
    border: 1px solid #d0d0d0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.container .bookingForm .rowx{
    width: 100%;
    display: inline-block;
    margin: 10px;
    text-align: center;
}
.container .bookingForm .rowx .colxl{
    float: left;
}
.container .bookingForm .rowx .colxr{
    float: right;
}
.container .bookingForm .rowx .colxr select{
    width: 150px;
    padding: 10px;
    border: 1px solid#e0e0e0;
    cursor: pointer;
}
.container .bookingForm .rowx .colxr button{
    width: 73px;
    color: #003c71;
    font-size: 24px;
    font-weight: 600;
    border: 1px solid#e0e0e0;
    cursor: pointer;
}
.container .bookingForm .rowx>button{
    padding: 10px;
    background-color: #BA4A00;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: 0px;
    border-radius: 10px;
}


.content .container .tourSideBar{
    background-color: #fff;
    border-radius: 5px;
}
.content .container .tourSideBar ul{
    list-style: none;
    padding-left: 0px;
}
.content .container .tourSideBar ul li{
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid #f1f1f2;
}

.content .container .tourHeaderContainer{
    width: 100%;
}
.content .container .tourHeaderContainer .tourHeaderImage{
    width: 100%;
    height: 390px;
    background-size: 100%;
}
.container img{
    width: 100%;
    padding: 10px;
}
.content .container .tourHeaderContainer .tourHeaderInfor{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
*Chương trình tour
*/
.tourSchedule img{
    width: 100%; 
    padding: 10px 10px 0px 10px;
}
.tourSchedule p{
    text-align: center;
}
.tourSchedule p em{
    font-style: italic;
}


/*
*   Lịch khởi hành
*/

.departureSchedule table{
    width: 100%;
    border-collapse: collapse;
}
.departureSchedule table,th,td{
    padding: 15px;
    text-align: left;
    border: 1px solid #d0d0d0;
}
.departureSchedule tr:nth-child(even){
    background-color: #f2f2f2;
}
.departureSchedule .tick {
    background-color: #F1C40F !important;
}

/*
*   Điều khoản
*/

.tourCancellationRules .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tourCancellationRules .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
}

.tourCancellationRules .tab button:hover {
    background-color: #ddd;
}

.tourCancellationRules .tab button.active {
    background-color: #ccc;
}

.tourCancellationRules .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tourCancellationRules .topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.tourCancellationRules .topright:hover {
    color: red;
}

.container h1{
    color: #003c71;
}
.container .customerReview h2{
    font-weight: bold;
    font-size: 20px;
    color: #494b55;
}
.container .customerReviewDetail{
    border-top: 1px solid #d0d0d0;
    width: 100%;
    display: table;
}
.container .reviewDetailLeft{
    width: 20%;
    display: table-cell;
    color: #333;
    font-weight: bold;
    padding-left: 10px;
}
.container .reviewDetailRight{
    width: 80%;
    display: table-cell;
}

.container .reviewDetailRight .scoreSpan{
    color: #D35400;
}
.container .reviewDetailRight .scoreReviewDate{
    color: #95A5A6;
    font-size: 16px;
}
.container .reviewDetailRight .customerReviewContent{
    font-style: italic;
    color: #494b55;
}


.modal-body {
    display: grid !important;
    text-align: unset !important;
}
.modal-body input{
    padding: 10px;
    border: 1px solid #d0d0d0;
}
.modal-body button{
    padding: 10px;
    background-color: #f79321;
}