

/*
*transition: left 0.4s ease; sẽ thêm ở .menu và #btnMenu và left là áp dụng với thuộc tính left
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu{
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background: #1b1b1b;
    transition: left 0.4s ease;
}

.menu .logo{
    color: white;
    font-size: 25px;
    font-weight: 600;
    background: #1e1e1e;
    text-align: center;
    line-height: 65px;
}

.menu ul{
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
}
.menu ul li{
    line-height: 60px;
    border-bottom: 1px solid red;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    padding-left: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
    position: relative;
}
.menu ul li a:hover{
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
}

.menu ul ul{
    position: static;
    display: none;
}
/*
* css này sẽ được add vào khi người dùng click
*/
.menu ul ul.active{
    display: block;
}
.menu ul ul li{
    line-height: 42px;
    border-bottom: none;
}
.menu ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}
.menu ul li a span{
    position: absolute;
    top: 50%;
    color: white;
    right: 20px;
    transform: translateY(-50%);
    font-size: 16px;
    transition: transform 0.4s;
}
.menu ul li a span.rotate{
    transform: translateY(-50%) rotate(90deg);
}

#btnMenu{
    position: absolute;
    top: 15px;
    left: 15px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 5px;
    cursor: pointer;
    transition: left 0.4s ease;
}
#btnMenu span{
    color: white;
    font-size: 22px;
    line-height: 45px;
}
#btnMenu.click{
    left: 260px;
}
.menu.show{
    left: 0px;
}

.header{
    position: absolute;
    height: 64px;
    left: 0px;
    right: 0px;
    background-color: #e6e6e6;
}


.content{
    position: absolute;
    top: 64px;
    height: 100%;
    right: 0px;
    left: 0px;

    transition: left 0.4s ease;
}
.content.show{
    left: 255px;
}
.content .container{
    height: 800px;
}

.footer{
    width: 100%;
    height: 64px;
    background-color: #e6e6e6;
    padding: 10px;
}
.footer span{
    line-height: 48px;
}

@media screen and (max-width:900px){


}