<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hotel detail</title>

</head>
<link rel="stylesheet" href="/public/css/hoteldetail.css">

<body>
    <div class="container">
        <div class="logo" style="background-image: url('/public/img/logo.jpg');">
            <p class="title_logo"> Bạn đang tìm kiếm trải nghiệm du lịch nào ?</p>
            <p class="title_detail"> Nghỉ lễ muôn nơi. Chào mừng năm mới. Năng lượng phơi phới</p>
        </div>

        <div class="select">
            <div class="input_search">
                <form>
                    <input type="text" placeholder="Bạn muốn đi đâu ?" class="location">
                </form>
                <input class="start" type="date" value="Ngày bắt đầu">
                <input class="end" type="date">
                <div class="room">
                    <form action="http://127.0.0.1:5500/hotelbooking.html">
                        <input type="submit" value="Tìm" class="search_location">
                    </form>
                </div>

            </div>

            <!-- column -->
            <div class="row">
                <div class="column">
                    <div class="image" style="background-image: url('/public/img/khach-san-flc-luxury-quy-nhon-600x334.jpg');"></div>
                    <p class="city">Quy Nhơn</p>
                    <p class="hotel"> Khách sạn FLC Luxury Quy Nhơn</p>
                    <p class="price">1.499.000 đ/phòng</p>
                </div>
                <div class="column">
                    <div class="image" style="background-image: url('/public/img/khu-nghi-duong-duyen-ha-cam-ranh-2-600x334.png');"></div>
                    <p class="city">Nha Trang</p>
                    <p class="hotel"> Khu nghỉ dưỡng Duyên Hà Cam Ranh</p>
                    <p class="price">999.000 đ/phòng</p>
                </div>
                <div class="column">
                    <div class="image" style="background-image: url('/public/img/khach-san-hilton-da-nang-600x334.png')"></div>
                    <p class="city">Đà Nẵng</p>
                    <p class="hotel"> Khu nghỉ dưỡng Melia Đà Nẵng beach</p>
                    <p class="price">1.892.000 đ/phòng</p>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="image" style="background-image: url('/public/img/khu-nghi-duong--33-374x280.png');"></div>
                    <p class="city">Đà lạt</p>
                    <p class="hotel"> Swiss-BeIresort Tuyền Lâm</p>
                    <p class="price">1.232.000 đ/phòng</p>
                </div>
                <div class="column">
                    <div class="image" style="background-image: url('/public/img/da-lat-755x190.jfif')"></div>
                    <p class="city">Đà Lạt</p>
                    <p class="hotel"> Khu nghỉ dưỡng Ana Villas DaLat Resort&spa</p>
                    <p class="price">1.720.000 đ/phòng</p>
                </div>
                <div class="column">
                    <div class="image" style="background-image: url('/public/img/vungtau_2-370x395.jpg');"></div>
                    <p class="city">Vũng Tàu</p>
                    <p class="hotel"> Khu nghỉ dưỡng Six Senses Côn Đảo</p>
                    <p class="price">10.610.000 đ/phòng</p>
                </div>
            </div>

        </div>
    </div>


    </div>
</body>

</html>
