<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hotel detail</title>

</head>
<link rel="stylesheet" href="../../../public/css/hoteldetail.css">
<body>
    <div class="container">
        <div class="row">
            <div class="column">
                <p class="city">Quy Nhơn</p>
                <p class="hotel"> Khách sạn FLC Luxury Quy Nhơn</p>
                <p class="price">1.499.000 đ/phòng</p>
            </div>
            <div class="column">
                <p class="city">Nha Trang</p>
                <p class="hotel"> Khu nghỉ dưỡng Duyên Hà Cam Ranh</p>
                <p class="price">999.000 đ/phòng</p>
            </div>
            <div class="column">
                <p class="city">Đà Nẵng</p>
                <p class="hotel"> Khu nghỉ dưỡng Melia Đà Nẵng beach</p>
                <p class="price">1.892.000 đ/phòng</p>
            </div>
            <div class="column">
                <p class="city">Đà lạt</p>
                <p class="hotel"> Swiss-BeIresort Tuyền Lâm</p>
                <p class="price">1.232.000 đ/phòng</p>
            </div>
            <div class="column">
                <p class="city">Đà Lạt</p>
                <p class="hotel"> Khu nghỉ dưỡng Ana Villas DaLat Resort&spa</p>
                <p class="price">1.720.000 đ/phòng</p>
            </div>
            <div class="column">
                <p class="city">Vũng Tàu</p>
                <p class="hotel"> Khu nghỉ dưỡng Six Senses Côn Đảo</p>
                <p class="price">10.610.000 đ/phòng</p>
            </div>
        </div>
    </div>
</body>
</html>