<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Hotel</title>
</head>
<link rel="stylesheet" href="searchhotel.css">
<script>
    function showMenu() {
        var myMenu = document.getElementById("myMenu");
        if (myMenu.className === "navHeader") {
            myMenu.className += " responsive";
        } else {
            myMenu.className = "navHeader";
        }
    }
</script>
<body>
    <div class="header">
        <div class="container">
            <div class="logo">
                <h4>LOGO</h4>
            </div>
            <ul class="navHeader" id="myMenu">
                <li><a href="#">Khách sạn</a></li>
                <li><a href="#">Tour</a></li>
                <li><a href="#">Vé máy bay</a></li>
                <li><a href="#">Cẩm nang du lịch</a></li>
                <li><a href="#">...</a>
                    <ul class="subMenu">
                        <li><a href="#">Tài khoản đặt tour</a></li>
                        <li><a href="#">Ưu đãi đặc biệt</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Hỏi đáp</a></li>
                        <li><a href="#">Hỗ trợ</a></li>
                    </ul>
                </li>
            </ul>
            <div class="userControl">
                <a href="#">Đăng ký</a>
                <a href="#">Đăng nhập</a>
                <span id="btnMenu" onclick="showMenu()">&#9776;</span>
            </div>
        </div>
    </div>

    </div>

    
    <div class="container">
        <div class="left">
            <div class="support">
                <div class="avatar" style="background-image: url('/image/avatar_person.png');"></div>
                <div class="numberphone">
                    <div class="city">
                        <p>HCM</p>
                        <p>HN</p>
                        <p>CT</p>
                    </div>

                    <div class="number">
                        <p>1900 1870</p>
                        <p>1900 2045</p>
                        <p> 1900 2087</p>
                    </div>
                </div>
            </div>
            <div class="star">
                <form>
                    <input type="text" class="search" placeholder="Nhập tên khách sạn">
                </form>
                
                <!-- Hạng sao -->
                <p class="title"> Hạng sao</p>
                <div class="checkbox_star">
                    <div class="checkbox">
                        <input type="checkbox" id="star_1">
                        <label> 1 star</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="star_1">
                        <label> 1 star</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="star_1">
                        <label> 1 star</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="star_1">
                        <label> 1 star</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="star_1">
                        <label> 1 star</label>
                    </div>
                    
                </div>

                <!-- khu vuc -->
                    <p class="title"> Khu vực</p>
                    <div class="checkbox_star">
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label> Bãi biển Bắc Mỹ An</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label> Bãi Biển Mỹ Khê</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label> Bãi biển Non Nước</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label> Bãi tắm Phạm Văn Đồng</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label> Bãi Tăm Sơn Trà</label>
                        </div>   
                    </div>
                    <!-- Loại hình nơi ở -->
                    <p class="title">Loại hình nơi ở</p>
                    <div class="checkbox_star">
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label> Khu nghỉ dưỡng(Resort)</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label> Biệt thự(Villa)</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label> Khách sạn(Hotel)</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label> Căn hộ(Apartment)</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label> Du thuyền(Cruise)</label>
                        </div>
                        <div class="star_5">
                            <input type="checkbox" id="star_1">
                            <label>Nhà nghỉ(Gust house, Homest...) </label>
                        </div>   
                    </div>

                    <!-- Tiện ích -->
                    <p class="title">Tiện ích</p>
                    <div class="checkbox_star">
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label>Phòng gia đình</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label>Bãi biển riêng</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label> Bãi đậu xe ô tô khách sạn</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label>Hồ bơi</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="star_1">
                            <label> Đưa đón sân bay miễn phí</label>
                        </div>
                        <div class="star_5">
                            <input type="checkbox" id="star_1">
                            <label>Khu vui chơi trẻ em</label>
                        </div>   
                    </div>

            </div>

            <div class="experience">
                <p class="title"> Kinh nghiệm</p>
                <p class="detail">Nổi tiếng với khu du lịch Bà Nà, bãi biển Mỹ Khê, top 10 vòng quay cao nhất thế giới Sun Wheel hay những món ăn ngon nức tiếng... Đà Nẵng còn có nhiều bí mật khác đang chờ bạn khám phá đó, hãy tin chúng tôi.

                    Bỏ túi nhanh những kinh nghiệm đi lại, ăn uống, vui chơi giải trí cùng Thổ địa iVIVU.com, đừng hoang phí chuyến du lịch của bạn!</p>
            </div>
        </div>
        <div class="right">
            <div class="hotel_combo">
                <div class="hotel_item_combo">
                    <a href="http://127.0.0.1:5500/hotelbooking.html" style="text-decoration:none;">
                        <div class="combo_title">
                            <p class="title"> Còn 139 ngày | Combo 3N2Đ + Vé máy bay khứ hồi + Ăn sáng  </p>
                        </div>
                        <div class="hotel_item">
                            <div class="left" style="background-image: url(/image/oceanami-villas--32-374x280.png);">
                                <div class="voucher">2N1D+VMB</div>
                            </div>
                            <div class="center">
                                <p class="name_limit">
                                    Khu nghỉ dưỡng Terracotta Đà Lạt
                                </p>
                                <p class="review"> 1 đánh giá</p>
                                <p class="service"> Phòng thiết kế hiện đại | Có hồ bơi</p>
                               
                            </div>
                            <div class="right_item">
                                <p class="price">  2.099.000 VNĐ</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="hotel_item_combo">
                    <a href="http://127.0.0.1:5500/hotelbooking.html" style="text-decoration:none;">
                        <div class="combo_title">
                            <p class="title"> Còn 139 ngày | Combo 3N2Đ + Vé máy bay khứ hồi + Ăn sáng  </p>
                        </div>
                        <div class="hotel_item">
                            <div class="left" style="background-image: url('/image/khu-nghi-duong--33-374x280.png');">
                                <div class="voucher">2N1D+VMB</div>
                            </div>
                            <div class="center">
                                <p class="name_limit">
                                    Khu nghỉ dưỡng Terracotta Đà Lạt
                                </p>
                                <p class="review"> 1 đánh giá</p>
                                <p class="service"> Phòng thiết kế hiện đại | Có hồ bơi</p>
                               
                            </div>
                            <div class="right_item">
                                <p class="price">  2.099.000 VNĐ</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="hotel_item_combo">
                    <a href="http://127.0.0.1:5500/hotelbooking.html" style="text-decoration:none;">
                        <div class="combo_title">
                            <p class="title"> Còn 139 ngày | Combo 3N2Đ + Vé máy bay khứ hồi + Ăn sáng  </p>
                        </div>
                        <div class="hotel_item">
                            <div class="left" style="background-image: url('/image/2-374x280.jpg');">
                                <div class="voucher">2N1D+VMB</div>
                            </div>
                            <div class="center">
                                <p class="name_limit">
                                    Khu nghỉ dưỡng Terracotta Đà Lạt
                                </p>
                                <p class="review"> 1 đánh giá</p>
                                <p class="service"> Phòng thiết kế hiện đại | Có hồ bơi</p>
                               
                            </div>
                            <div class="right_item">
                                <p class="price">  2.099.000 VNĐ</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="hotel_item_combo">
                    <a href="http://127.0.0.1:5500/hotelbooking.html" style="text-decoration:none;">
                        <div class="combo_title">
                            <p class="title"> Còn 139 ngày | Combo 3N2Đ + Vé máy bay khứ hồi + Ăn sáng  </p>
                        </div>
                        <div class="hotel_item">
                            <div class="left" style="background-image: url('/image/1-cr-374x280.jpg');">
                                <div class="voucher">2N1D+VMB</div>
                            </div>
                            <div class="center">
                                <p class="name_limit">
                                    Khu nghỉ dưỡng Terracotta Đà Lạt
                                </p>
                                <p class="review"> 1 đánh giá</p>
                                <p class="service"> Phòng thiết kế hiện đại | Có hồ bơi</p>
                               
                            </div>
                            <div class="right_item">
                                <p class="price">  2.099.000 VNĐ</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="hotel_item_combo">
                    <a href="http://127.0.0.1:5500/hotelbooking.html" style="text-decoration:none;">
                        <div class="combo_title">
                            <p class="title"> Còn 139 ngày | Combo 3N2Đ + Vé máy bay khứ hồi + Ăn sáng  </p>
                        </div>
                        <div class="hotel_item">
                            <div class="left" style="background-image: url('/image/master-cr-374x280.jpg');">
                                <div class="voucher">2N1D+VMB</div>
                            </div>
                            <div class="center">
                                <p class="name_limit">
                                    Khu nghỉ dưỡng Terracotta Đà Lạt
                                </p>
                                <p class="review"> 1 đánh giá</p>
                                <p class="service"> Phòng thiết kế hiện đại | Có hồ bơi</p>
                               
                            </div>
                            <div class="right_item">
                                <p class="price">  2.099.000 VNĐ</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
